@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;  /* Default background for light mode */
  --foreground: #ffffff;  /* Default text color for light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;  /* Dark mode background */
    --foreground: #171717;  /* Dark mode text color */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;  /* Light mode background */
    --foreground: #0a0a0a;  /* Light mode text color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* styles/globals.css or a custom stylesheet */
.btn-nav {
  background-color: #ffffff;
  color: #1D1257;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.btn-nav:hover {
  background-color: #1D1257;
  color: #ffffff;
  border-color: #1D1257;
  transform: translateY(-2px);
}

.btn-nav:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(29, 18, 87, 0.5);
}


.absolute {
  position: absolute;
}

.z-50 {
  z-index: 50;
}

/* Ensure the dropdown is not hidden by overflow */
.relative {
  position: relative;
}

@media print {
  /* Hide everything except for the printable content */
  body * {
    visibility: hidden;
  }

  .printable, .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0059A0; /* Background color */
    color: white; /* Text color */
    width: 83mm;  /* Ensure the printed card size is maintained */
    height: 59mm; /* Ensure the printed card size is maintained */
  }

  .non-printable {
    display: none;
  }
}
